.PopSsModel.modal.popRgtModel.in, .PopSgModel.modal.popRgtModel.in {
    width: auto;
    left: 196px;
}

.zpnew-recview .zp-label, .zpnew-recedit .zp-label {
    margin-left: 15px;
}
.ZPSCol .zp-label {
    width: 70%;
}
.zp-label {
    clear: both;
    border-bottom: 1px solid #f5f5f5;
    line-height: 20px;
    padding-top: 15px;
    margin-top: 10px;
    position: relative;
    width: calc(100% - 85px);
    white-space: nowrap;
}
.page-sidebar {
width:auto;
}